# Environment variables
.env
.env.local
.env.*.local

# Node
node_modules/

# Build output
dist/
build/
.next/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# ignore nginx certificate except .gitkeep
nginx/certs/*
!nginx/certs/.gitkeep